<div style="background-color: rgba(128, 128, 128, 0.259);">
    <div class="center">
      <label style=" font-size: 50px; margin-top: 50px;"> Welcome! </label>
    </div>
    <div class="row">
      <div class="center" style="margin-top: 70px;">
        <div class="col-1"></div>
        <div class="col-2">
          <label style="font-size: 20px;"> Visit our site ---> </label>
        </div>
        <div class="col-2">
          <button class="btn btn-primary" (click)="goToLoginPage()"> Login </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="center" style="margin-top: 20px;">
        <div class="col-1"></div>
        <div class="col-2">
          <label style="font-size: 20px;"> Don't have account? ---> </label>
        </div>
        <div class="col-2">
          <button class="btn btn-secondary" (click)="goToRegisterPage()"> Register </button>
        </div>
      </div>
    </div>
    <div class="row" style="height: 500px;"></div>
  </div>
  