<div style="background-color: rgba(128, 128, 128, 0.259);"> 
    <div class="row">
        <div class="col-5">
            <label style=" font-size: 20px; margin-top: 50px; margin-left: 250px;"> Choose your service package: </label>
        </div>
        <div class="col-3" style=" font-size: 20px; margin-top: 50px;">
            <input type="radio" id="monthaccess" name="fav_language" value="One time access for a month" style="margin-left: 10px;">
            <label for="One time access for a month">One time access for a month</label><br>
            <input type="radio" id="monthsubscribe" name="fav_language" value="Subscribe for a month">
            <label for="Subscribe for a month">Subscribe for a month</label><br>
            <input type="radio" id="yearsubscribe" name="fav_language" value="Subscribe for a year">
            <label for="Subscribe for a year">Subscribe for a year</label> 
        </div>
    </div>
    <div class="row">
        <div class="col-5">
        </div>
        <div class="col-3" style=" font-size: 20px; margin-top: 30px; margin-left: 15px;">
            <button class="btn btn-primary" (click)="makePayment()">Next</button>
        </div>
    </div>
    <div class="row" style="height: 520px;"></div>
</div>
