<div style="background-color: rgba(128, 128, 128, 0.259);">
    <div class="row" *ngIf="options.length > 0">
        <div class="col-5">
            <label style=" font-size: 20px; margin-top: 50px; margin-left: 250px;"> Choose your service package:
            </label>
        </div>
        <div class="col-3" style=" font-size: 20px; margin-top: 50px;">

            <div class="subscription-option" *ngFor="let item of options; let indexOfElement = index ">
                <input type="radio" id="{{item.name}}" name="{{item.name}}" value="{{indexOfElement}}"
                    (click)="onOptionSelect(item.subscriptionType)" style="margin-left: 10px;" [checked]="checked === item.subscriptionType">
                  <label for="{{'sub-' + item.id}}">{{item.name}}</label><br>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
        </div>
        <div class="col-3" style=" font-size: 20px; margin-top: 30px; margin-left: 15px;">
            <button class="btn btn-primary" (click)="makePayment()">Next</button>
        </div>
    </div>
    <div class="row" style="height: 520px;"></div>
</div>