<div class="reg">
    <div class="rectangle" >
        <div class="container mt-5">
            <form class="content" [formGroup]="registerForm" (ngSubmit)="registerUser()">
                <h1 class="text-center"> Register Form</h1>
                <div class="row">
                    <div class="col-10">
                        <select name="userType" id="userType" class="form-control" style="margin-left: 60px; margin-top: 20px;">
                            <option value="0">Candidate</option>
                            <option value="1">Company</option>
                        </select>
                    </div>
                    <div class="col-10">
                        <input type="text" style="margin-left: 60px; margin-top: 10px;" formControlName="name" [(ngModel)]="user.name" class="form-control" placeholder="Name"/>
                        <div *ngIf="name.invalid && (name.touched || name.dirty)">
                            <label *ngIf="name.errors?.required" style="color: red; margin-right: 305px;">Name is required</label>
                            <label *ngIf="name.errors?.pattern" style="color: red; margin-right: 95px;">Only letters allowed. First letter must be capital.</label>
                        </div>
                    </div>
                    <div class="col-10">
                        <input type="text" style="margin-left: 60px; margin-top: 10px;" formControlName="username" [(ngModel)]="user.username" class="form-control" placeholder="Username"/>
                        <div *ngIf="username.invalid && (username.touched || username.dirty)">
                            <label *ngIf="username.errors?.required" style="color: red; margin-right: 275px;">Username is required</label>
                            <label *ngIf="username.errors?.pattern" style="color: red; margin-right: 95px;">Only letters allowed. First letter must be capital.</label>
                        </div>
                    </div>
                    <div class="col-10">
                        <input type="text" style="margin-left: 60px; margin-top: 10px;" formControlName="email" [(ngModel)]="user.emailAddress" class="form-control" placeholder="E-mail"/>
                        <div *ngIf="email.invalid && (email.touched || email.dirty)">
                            <label *ngIf="email.errors?.required" style="color: red; margin-right: 300px;">E-mail is required</label>
                            <label *ngIf="email.errors?.email" style="color: red; margin-right: 250px;">Enter valid e-mail address</label>
                        </div>
                        <div *ngIf="userExists === true">
                            <label style="color: red; margin-right: 280px; margin-left: 55px;">User with this e-mail already exists</label>
                        </div>
                    </div>
                    <div class="col-10">
                        <input type="text" style="margin-left: 60px; margin-top: 10px;" formControlName="city" [(ngModel)]="user.city"  class="form-control" placeholder="City"/>
                        <div *ngIf="city.invalid && (city.touched || city.dirty)">
                            <label *ngIf="city.errors?.required" style="color: red; margin-right: 320px;">City is required</label>
                            <label *ngIf="city.errors?.pattern" style="color: red; margin-right: 100px;">Only letters allowed. First letter must be capital.</label>
                        </div>
                    </div>
                    <div class="col-10">
                        <input type="text" style="margin-left: 60px; margin-top: 10px;" formControlName="street" [(ngModel)]="user.street" class="form-control" placeholder="Street"/>
                        <div *ngIf="street.invalid && (street.touched || street.dirty)">
                            <label *ngIf="street.errors?.required" style="color: red; margin-right: 290px;">Street is required</label>
                            <label *ngIf="street.errors?.pattern" style="color: red; margin-right: 290px;">Enter valid street </label>
                        </div>
                    </div>
                    <div class="col-10">
                        <input type="password" style="margin-left: 60px; margin-top: 10px;" formControlName="password" [(ngModel)]="user.password" class="form-control" placeholder="Password"/>
                        <div *ngIf="password.invalid && (password.touched || password.dirty)">
                            <label *ngIf="password.errors?.required" style="color: red; margin-right: 280px;">Password is required</label>
                            <label *ngIf="password.errors?.pattern" style="color: red; margin-right: 190px;">Only letters and numbers allowed, min 8, max 50 characters</label>
                        </div>
                    </div>
                    <div class="col-10">
                        <input type="password" style="margin-left: 60px; margin-top: 10px;" formControlName="secondPassword" class="form-control" placeholder="Repeat password"/>
                        <div *ngIf="secondPassword.invalid && (secondPassword.touched || secondPassword.dirty)">
                            <label *ngIf="secondPassword.errors?.required" style="color: red; margin-right: 280px;">Password is required</label>
                            <label *ngIf="secondPassword.errors?.pattern" style="color: red; margin-right: 190px;" >Only letters and numbers allowed, min 8, max 50 characters</label>
                        </div>
                        <div *ngIf="passwordTheSame === false">
                            <label style="color: red; margin-right: 220px;">Passwords must be the same</label>
                        </div>
                    </div>
                    <div class="col-10">
                        <button class="btn btn-secondary" [disabled]="registerForm.invalid" style="margin-top: 20px; margin-left: 50px; width: 120px;">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

